<footer>
    <div class="travel-quote text-center mt-5">
    <blockquote style="font-size: 24px; font-style: italic;">“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta</blockquote>
</div>

    <div class="footer-content">

        <div class="social-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>

        <div class="company-name">
            wandermon pvt limited
        </div>

        <div class="footer-section-links">
            <a href="/privacy">privacy policy</a>
            <a href="/terms">terms of service</a>
        </div>

    </div>
</footer>
