/* Navbar */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Navbar */
.navbar {
    background-color: #f7f7f7;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}


/* ===========================
          FOOTER
=========================== */

footer {
    margin-top: auto; /* pushes footer to bottom */
}

.footer-content {
    text-align: center;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}
/* Social Icons - closer together */
.social-icons i {
    margin: 0 4px; /* reduce horizontal spacing */
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}


.social-icons i:hover {
    color: #ff5a5f;

}

/* Company Name */
.company-name {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

/* Privacy + Terms */
.footer-section-links {
    text-align: center;
    padding-bottom: 10px;
}

.footer-section-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    transition: 0.2s;
}

.footer-section-links a:hover {
    text-decoration: underline;
    color: #ff5a5f;
}


/* ===========================
          CARDS
=========================== */

.lis-card {
    border: none !important;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: #fff;
}

.lis-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.lis-card-img-top {
    width: 100%;
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.lis-card-body {
    padding: 0.8rem 1rem;
}

.lis-card-text {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
}
#map { height: 180px; }

.lis-card-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.price-country{
    display: flex;
}
.pc-edit{
    display: flex;
}
.listing_link {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.listing_link:hover {
    color: #ff5a5f;
}

/* Listings Layout */
.listings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}
